
.profile-page {

}

.profile-title {
	// border: 1px solid;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.infors-last-login {
	// border: 1px solid;
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
	& div {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		font-style: italic;
	}
}

.last-login-avata {
	// border: 1px solid;
	width: 40px;
	height: fit-content;
	border-radius: 50%;
}

.profile-functions {
	margin-top: 1rem;
	// border: 1px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.infor-providers-login {
	display: flex;
	& span {
		// border: 1px solid;
		padding: 0.5rem 1rem;
		font-style: italic;
	}
	& span:last-child {
		border-left: none;
		border-radius: 0rem 0.5rem 0.5rem 0rem;
	}
	& span:first-child {
		border-right: none;
		border-radius: 0.5rem 0 0 0.5rem;
	}
}

.profile-action {
	// border: 1px solid;
	border-radius: 0.5rem;
	display: flex;
	gap: 0.5rem;
	flex: 1;
	max-width: 30%;
}

#edit {
	border: 1px solid #F5A524;
	background: transparent;
	color: #F5A524;
}
#logout, #google {
	border: 1px solid #DB1157;
	background: #DB1157;
	color: #ffffff;
}

#github {
	border: 1px solid #0070F0;
	background: #0070F0;
	color: #ffffff;
}
#auth0 {
	border: 1px solid #3E3E45;
	background: #3E3E45;
	color: #ffffff;
}

