
<h1>Rút gọn liên kết </h1>
<div>
	<span>Công cụ rút ngắn liên kết miễn phí, nhanh nhất.</span>
</div>

<!--  -->
<div class="form-create-short-link">
	<form action="" method="post">
		<div class="row-form">
			<!-- 1 -->
			<div class="col-auto">
				<label class="sr-only" for="link">Liên kết</label>
				<div class="input-group mb-2 mt-2">
					<input type="text" class="form-control" id="link" placeholder="Liên kết">
				</div>
			</div>
			<!-- 2 -->
			<div class="col-auto">
				<label class="sr-only" for="password">Mật khẩu (tùy chọn)</label>
				<div class="input-group mb-2 mt-2">
					<!-- <div class="input-group-prepend">
						<div class="input-group-text">@</div>
					</div> -->
					<input type="text" class="form-control" id="password" placeholder="Mật khẩu">
				</div>
			</div>
			<!-- 3 -->
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
				<label class="form-check-label" for="defaultCheck1">
					Chuyển hướng an toàn (Tránh bị chặn bởi Facebook)
				</label>
			</div>
			<!-- 4 -->
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="safe-redirect">
				<label class="form-check-label" for="defaultCheck1">
					Tùy chỉnh ID của liên kết
				</label>
			</div>
			<!--  -->
			<div class="short-link-action">
				<button type="submit">Rút gọn</button>
			</div>

		</div>
	</form>

</div>
<!--  -->
<div class="short-link-property">
	<div class="list-short-link">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">STT</th>
					<th scope="col">Liên kết rút gọn</th>
					<th scope="col">Liên kết gốc</th>
					<th scope="col">Mật khẩu</th>

					<th scope="col">Lượt truy cập</th>
					<th scope="col">Thời gian tạo</th>
					<th scope="col">Hành động</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>
						<a href="https://short.f8team.dev/Sub50" target="_blank" rel="noopener noreferrer"></a>
					</td>
					<td>thangcaoaudio.com</td>
					<td>(Không có)</td>

					<td>0</td>
					<td>Một giờ trước</td>

					<td class="shorten-link">
						<div class="btn shorten-link-item">
							<!-- <i class="fa-regular fa-pen-to-square"></i> -->
							Sửa
						</div>

						<div class="btn shorten-link-item">
							<!-- <i class="fa-solid fa-share-from-square"></i> -->
							Chia sẻ
						</div>

						<div class="btn shorten-link-item">
							<!-- <i class="fa-solid fa-trash"></i> -->
							Xóa
						</div>

					</td>
				</tr>

			</tbody>
		</table>

	</div>

</div>